* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Shantell Sans', cursive;
}

.container h1 {
  text-align: center;
  padding-top: 15px;
  margin-bottom: 15px;
  font-size: 50px;
}

.pokemons {
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(300px, auto));
  justify-content: center;
  gap: 20px;
  padding-bottom: 10px;
}

.card {
  max-width: 300px;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
  border: 1px solid black;;
}

.card-image {
  max-width: 150px;
}

.type {
  color: #615e5e;
  padding-top: 5px;
  position: relative;
  top: 45px;
  transition: top 1s;
  font-size: 1.25rem;
}

.card:hover .type{
  cursor: pointer;
  top: 0;
}

.fire {
  background-color: rgb(255, 78, 9);
}

.fire .type{
  color: white;
}

.grass {
  background-color: rgb(95, 217, 138);
}

.grass .type{
  color: white;
}

.water {
  background-color: rgb(12, 155, 231);
  backdrop-filter: blur(90px);
  backdrop-filter: brightness(95%);
  border: 2px solid rgba(255, 255, 255, 0.10);
}

.water .type{
  color: white;
}

.card.water{
  color: black;
}

.bug {
  background-color: #f8d5a3;
}

.normal {
  background-color: rgb(187, 185, 185);
}

.normal .type{
  color: white;
}

.electric {
  background-color: #f9ce0e;
}

.electric .type{
  color: white;
}

.rock {
  background-color: #484747;
}

.rock .type{
  color: white;
}

.ghost {
  background-color: #8768a0;
}

.ghost .type{
  color: white;
}

.ground {
  background-color: #8f5c2c;
}

.ground .type{
  color: white;
}

.poison {
  background-color: #871cd3;
}

.poison .type{
  color: white;
}

.fairy {
  background-color: #f1ddf5;
}

.fighting {
  background-color: #ebbd94;
}

.ice {
  background-color: #a1e6ff;
}

.dragon {
  background-color: #e0c0fd;
}